<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Badges{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/main.js') }}" defer></script>

	<link rel="icon" href="https://design.codeberg.org/logo-kit/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://design.codeberg.org/logo-kit/favicon.svg" type="image/svg+xml">
</head>
