<html class="text-sm md:text-base text-gray-900 bg-white" lang="en">

    {% include 'partials/head.html' %}

    <body class="w-full mx-auto">
        {% include 'partials/header.html' %}

        <main>
            {% block header %}{% endblock %}
            <section>
                {% block content %}{% endblock %}
            </section>
            {% block footer %}{% endblock %}
        </main>

        {% include 'partials/footer.html' %}

    </body>
</html>
