{% extends 'base.html' %}


{% block header %}

{% if message %}
<header class="px-6 pt-8">
    <div class="alert {% if error %} error {% else %} warning {% endif %} flex items-center" role="alert">
        <div class="flex-none hidden sm:block">
            <i class="icon-{% if error %}danger{% else %}info{% endif %} mr-3 text-current"></i>
        </div>
        <p class="flex-1"><span class="font-medium">{% if error %}Achtung{% else %}Hinweis{% endif %}:</span> {{message}}</p>
    </div>
</header>
{% endif %}

{% endblock %}


{% block content %}

<div
    class=""
    x-data="init()"
    x-init="
        $watch('template', value => color = colors[value])
        $watch('badge', value => {
            template = templates[value];
            color = '#ffffff'
        })
    "
>
    <h3>Badges</h3>

    <fieldset class="flex">
        <label for="getiton">GetItOn</label>
        <input type="radio" id="getiton" name="badge" x-model="badge" value="getiton" checked>
        <label for="badge">Badge</label>
        <input type="radio" id="badge" name="badge" x-model="badge" value="badge">
    </fieldset>

    <fieldset>
        <label for="color">Background:</label>
        <input type="color" id="color" x-model="color" value="#ffffff">
    </fieldset>

    <div x-show="badge == 'badge'" x-cloak>
        <fieldset>
            <label for="template">Template:</label>
            <select name="template" id="template" x-model="template">
                <option value="issues">Issues</option>
                <option value="stars">Stars</option>
            </select>
        </fieldset>
    </div>

    <div x-show="badge == 'getiton'" x-cloak>
        <fieldset>
            <label for="text">Text:</label>
            <input type="text" id="text" x-model="text" value="GET IT ON">
        </fieldset>

        <fieldset class="flex">
            <label for="light">Light</label>
            <input type="radio" id="light" name="template" x-model="template" value="light" >
            <label for="dark">Dark</label>
            <input type="radio" id="dark" name="template" x-model="template" value="dark" checked>
            <label for="legacy">Legacy</label>
            <input type="radio" id="legacy" name="template" x-model="template" value="legacy">
        </fieldset>

        <fieldset>
            <label for="stroke">Stroke:</label>
            <input type="color" id="stroke" x-model="stroke" value="#a6a6a6">
        </fieldset>

        <fieldset>
            <label for="width">PNG width:</label>
            <input type="number" id="width" x-model="width" value="564">
        </fieldset>
    </div>

    <img :src="download()"></img>

    <div x-show="badge == 'getiton'" x-cloak>
        <a
            class="px-3 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded"
            :href="download('svg')"
            :download="template + '.svg'"
        >
            Download SVG
        </a>
        <a
            class="px-3 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded"
            :href="download('png')"
            :download="filename('png')"
        >
            Download PNG
        </a>
    </div>
</div>

<script>
    function init () {
        return {
            badge: 'getiton',
            template: 'light',
            templates: {
                'getiton': 'light',
                'badge': 'issues',
            },
            text: 'GET IT ON',
            width: 564,
            color: '#ffffff',
            colors: {
                'light': '#ffffff',
                'dark': '#000000',
                'legacy': '#000000',
            },
            stroke: '#a6a6a6',
            download(extension = 'svg') {
                return 'api/' + this.badge + '/' + this.template + '.' + extension + '?text=' + this.text + '&color=' + encodeURIComponent(this.color) + '&stroke=' + encodeURIComponent(this.stroke) + '&width=' + this.width
            },
            filename(extension = 'svg') {
                return this.template + '-' + this.template.hashCode() + '.' + extension
            },
        }
    }

    // See https://werxltd.com/wp/2010/05/13/javascript-implementation-of-javas-string-hashcode-method
    String.prototype.hashCode = function() {
        var hash = 0, i, chr;

        if (this.length === 0) return hash;

        for (i = 0; i < this.length; i++) {
            chr   = this.charCodeAt(i);
            hash  = ((hash << 5) - hash) + chr;

            // Convert to 32bit integer
            hash |= 0;
        }

        return hash;
    };
</script>

{% endblock %}
